@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'montserat', sans-serif;
}



ul{
  display: flex;
  padding: 10px; 
  list-style-type:none;
  display:flex;
  justify-content: center;
  background-color: rgb(97, 97, 97, 0.7);
  border-radius: 0px 0px 16px 16px;
}

li{
  display: list-item;
  padding: 5px 10px;
  margin: 0 3px;
}

.nav-link{
  color: white;
}


.app{
  background: linear-gradient(0.100turn, rgb(150, 150, 103), rgb(241, 241, 13));
  background-position: bottom;
  transition: 0.4s ease-out;
  color: black;
}

.app.rainy{ 
  background: linear-gradient(0.40turn, rgb(92, 93, 99),rgb(68, 76, 122));
  transition: 0.4s ease-out;
  color: white;  
}

.app.cloudy{
  background: linear-gradient(0.50turn, #b4b4b4, #919191);
  transition: 0.4s ease-out;
  color: black;  
}

.app.snowy{
  background: linear-gradient(0.40turn, #e7e7e7, #dddddd);
  transition: 0.4s ease-out;
  color: black;  
}

.app.thunder{
  background: linear-gradient(0.40turn, rgb(0, 2, 24),rgb(87, 89, 97));
  transition: 0.4s ease-out;
  color: black;  
}

.app.haze{
  background: linear-gradient(0.40turn, rgb(92, 93, 99),rgb(56, 114, 124));
  transition: 0.4s ease-out;
  color: black;  
}

.app.mist{
  background: linear-gradient(0.40turn, #b1b1b1, #dddddd);
  transition: 0.4s ease-out;
  color: black;  
}

.app.fog{
  background: linear-gradient(0.40turn, #b1b1b1, #dddddd);
  transition: 0.4s ease-out;
  color: black;  
}

.app.tornado{
  background: linear-gradient(0.40turn, rgb(0, 2, 24),rgb(87, 89, 97));
  transition: 0.4s ease-out;
  color: white;  
}

.app.drizzle{
  background: linear-gradient(0.40turn, rgb(92, 93, 99),rgb(118, 133, 223));
  transition: 0.4s ease-out;
  color: white;  
}


main{
  min-height: 100vh; 
  padding: 0px;
}

.search-box{
  width: 100%;
  padding:25px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;

  outline: none;
  border: none;
  background: none; 

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  margin-top: 10px;
}

.weather-main-info{
  margin: auto;
  width: 50%;
  height: 250px;
  margin-top: 5px;
  text-align: center;
}

.outside{
  background-image: url('./img/weather-icons/clear-day.svg');
  background-size: 150px;
  height: 150px;  
  width: 150px;
  margin: auto; 
}

.outside.clouds{
  background-image: url('./img/weather-icons/cloudy.svg');  
}

.outside.snowy{
  background-image: url('./img/weather-icons/snow.svg'); 
}

.outside.raining{
  background-image: url('./img/weather-icons/rain.svg'); 
}

.outside.haze{
  background-image: url('./img/weather-icons/haze.svg'); 
}

.outside.fog{
  background-image: url('./img/weather-icons/fog.svg'); 
}

.outside.drizzle{
  background-image: url('./img/weather-icons/drizzle.svg'); 
}

.outside.mist{
  background-image: url('./img/weather-icons/mist.svg'); 
}

.outside.tornado{
  background-image: url('./img/weather-icons/tornado.svg'); 
}

.outside.thunderstorm{
  background-image: url('./img/weather-icons/thunderstorms.svg'); 
}

.temp{
  margin-left: 35px;
  font-size: 100px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.temp-high{
  color: #d42525;
}

.temp-low{
  color: #2885c7;
}

.pressure-high{
  background-image: url("./img/weather-icons/pressure-high.svg");
  background-size: 45px;
  height: 45px;
  width: 45px;  
  margin: auto;
}

.pressure-low{
  background-image: url("./img/weather-icons/pressure-low.svg");
  background-size: 45px;
  height: 45px;
  width: 45px;  
  margin: auto;
}

.weather-feels{
  font-size: 17px;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.location{
  font-size: 35px;
  color: black;
  font-family: 'Poppins', sans-serif;

}

.weather-more-info-1{
  background-color: rgb(0, 0, 0, 0.4); 
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: auto;
  border-radius: 16px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.weather-more-info-2{
  background-color: rgb(243, 243, 243, 0.5);
  width: 95%;
  margin-left: 10px;
  height: auto;
  padding: 5px;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 11px; 
  margin-top: 250px;
}

.set-icon{
  background-size: 45px;
  height: 45px;
  width: 45px;  
  margin: auto;
}
.humidity{
  background-image: url('./img/weather-icons/humidity.svg');
}

.wind-speed-high{
  background-image: url('./img/weather-icons/windsock.svg');
  background-size: 45px;
  height: 45px;
  width: 45px;  
  margin: auto;
}
.wind-speed-weak{
  background-image: url('./img/weather-icons/windsock-weak.svg');
  background-size: 45px;
  height: 45px;
  width: 45px;  
  margin: auto;
}

.thermometer-colder{
  background-image: url('./img/weather-icons/thermometer-colder.svg');
}

.thermometer-warmer{
  background-image: url('./img/weather-icons/thermometer-warmer.svg');
}

@media only screen and (max-width: 300px) {

  .weather-more-info-2{ 
    position: absolute;
    bottom: 0px;  
  }
 
}

@media only screen and (max-height: 850px) {

  .weather-more-info-2{ 
    position: absolute;
    bottom: 10px;  
  }
  .temp{
    font-size: 70px;
    color: black;
    
  }
  .location{
    font-size: 30px;
  }

  .description{
    font-size: 17px;

  }

  .weather-more-info-1{
    font-size: 15px; 
  } 
 
}

@media only screen and (max-height: 725px) {

  .search-box{   
    padding: 10px;
  }

  .outside{
    background-size: 120px;
    height: 120px;  
    width: 120px;  
  }

  .weather-main-info{
    margin: auto;
    width: 50%;
    text-align: center;
  }

}

@media only screen and (max-height: 660px) {

  .search-box{   
    padding: 10px;
  }

  .outside{
    background-size: 120px;
    height: 120px;  
    width: 120px;  
  }

  .weather-main-info{
    margin: auto;
    width: 50%;
    text-align: center;
  }

}

@media only screen and (max-height: 630px) {

  .weather-more-info-2{
    margin-top: 100px;
    position: relative;

  } 

}
